
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
  width: 1150px;
  margin: 0 auto;
}
.header {
  width:100%;
  height:475px;
  background: url("images/surfheader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header .redO {
  position:relative;
  top:0px;
  width:100%;
  height:475px;
  background: #2554C7;
  opacity: 0.75}

img {
  opacity:0.4;
  opacity: blue;
}
nav ul {
  margin: 0;
  padding: 10px;
  padding-right: 10%;
  list-style-type: none;
  height: 20px;
  text-align: right;
}
nav li {
  display: inline-block;
  padding: 4px;
  padding-right: 20px;
  margin: 0px;
  border: 0px;
}
.title {
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 00px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.title h1 {
  font-size: 90px;
  padding-top: 75px;
  margin: 0px;
}


/***BODY STUFF***/
h2 {
  font-size:60px;
  color: navy;
}
h3 {
  font-size: 15px;
  text-align: center;
  color: navy;
}
blockquote {
  color:#106db3;
  font-size:30px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:20px;
  border-left:medium solid #ddd;
  margin-left:0px;
}

.title p {
  font-size: 15px;
}


section, aside {
  display: inline-block;
  vertical-align: top;
}

section {
  width: 55%;
  padding: 50px;
  margin: 10px;
}
aside {
  width: 25%;
  padding: 10px;
  padding-top: 75px;
  margin: 10px;
}
.profile img {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;

}
.adpic img {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: block;
  width: 175px;
  height: 175px;
  border-radius: 0%;

}
.profile {
  width: 200px;
}

.profile li {
  display: inline-block;
}

.trPic {

  width:100%;
  height:475px;
  background: url("images/surfheader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.trPic .redO {
  position:relative;
  top:0px;
  width:100%;
  height:425px;
  background: #2554C7;
  opacity: 0.75}

/***LOWER BODY/FOOTER***/


footer {
  display: block;
  width: 100%;
  background-color: #35586c;
}

.lowerbody {
  margin: auto;
  padding: auto;
  border: 0px;
  list-style-type: none;
}
.lowerbody h1 {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding: 0;
  text-align: center;

}



/**POPULAR POSTS**/


.popularposts img{
  width: 250px;
  height: 250px;
  margin: 1px;
  padding: 0;
  display: inline-block;

}

.popularposts {
  position: relative;
}

.popularposts p{
  font-size: 20px;
  width: 40px;
  color: navy;
  font-family: "Lato", sans-serif;
  text-align: left;
  vertical-align: top;
  margin: 35px 5px -0px 5px;
  position: absolute;
  top: 100px;
}

.slater, .beers, .zach, .liquor {

  display: inline-block;
  vertical-align: top;
  /*width: 250px;
  height: 200px;
  padding: 0;*/
}
